<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
    <a class="navbar-brand" >FamilyManager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="#" class="nav-link active" (click)="openModal(null,'add')">Add Family <span class="sr-only">(current)</span></a>
        </li>
        
      </ul>
      <form class="d-flex" role="search">
        <input name="key" #key="ngModel" (ngModelChange)="searchFamily(key.value)" ngModel class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
 
</nav>
<div class="container" id="main-conatiner">
    <div class="row">
        <div *ngFor="let family of families" class="col-md-6 col-xl-3">
            <div  class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="{{family?.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{family?.familyName}}</h5>
                        <p class="m-0">{{family?.jobTitle}}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a href="#">{{family?.email}}</a></li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{family?.phone}}</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a  (click)="openModal(family,'edit')" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a  (click)="openModal(family,'delete')" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>
                   
                </div>
            </div>
        </div>
        
    </div>

    <!-- Modal -->
<div class="modal fade" id="exampleModal" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Family Member</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
        <form #addForm="ngForm" (ngSubmit)="addFamily(addForm)">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel name="familyName" class="form-control" id="familyName" placeholder="familyName" required>
          </div>
          <div class="form-group">
            <label for="jobTitle">JobTitle</label>
            <input type="text" ngModel name="jobTitle" class="form-control" id="jobTitle" placeholder="jobTitle" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" ngModel name="email" class="form-control" id="email" placeholder="email" required>
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="phone" ngModel name="phone" class="form-control" id="phone" placeholder="phone" required>
          </div>
          <div class="form-group">
            <label for="imageUrl">Image url</label>
            <input type="phone" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="imageUrl" required>
          </div>
          <div class="modal-footer">
            <button id="add-form-cicked" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button  [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
          </div>
      </form>
      </div>
     
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel="{{editFamily?.familyName}}" name="familyName" class="form-control" id="familyName" placeholder="familyName" required>
          </div>
           
            <input type="hidden" ngModel="{{editFamily?.id}}" name="id" class="form-control" id="id" placeholder="id" required>
            <input type="hidden" ngModel="{{editFamily?.familyCode}}" name="familyCode" class="form-control" id="familyCode" placeholder="familyCode" required> 
          <div class="form-group">
            <label for="name">JobTitle</label>
            <input type="text" ngModel="{{editFamily?.jobTitle}}" name="jobTitle" class="form-control" id="jobTitle" placeholder="jobTitle" required>
          </div>
          <div class="form-group">
            <label for="name">Email</label>
            <input type="email" ngModel="{{editFamily?.email}}" name="email" class="form-control" id="email" placeholder="email" required>
          </div>
          <div class="form-group">
            <label for="name">Phone</label>
            <input type="phone" ngModel="{{editFamily?.phone}}" name="phone" class="form-control" id="phone" placeholder="phone" required>
          </div>
          <div class="form-group">
            <label for="name">Image url</label>
            <input type="phone" ngModel="{{editFamily?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="imageUrl" required>
          </div>
          <div class="modal-footer">
            <button id="edit-form-cicked" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button (click)="updateFamily(editForm.value)" type="button" class="btn btn-primary">Save changes</button>
          </div>
      </form>
      </div>
      
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Family member</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <p>Are you sure, you want to delete Family {{deleteFamily?.familyName}}</p>
      </div>
      <div class="modal-footer">
        <button id="delete-form-cicked" type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" (click)="deleteFamilyByID(deleteFamily?.id)" class="btn btn-danger">Yes</button>
      </div>
    </div>
  </div>
</div>
</div>

